:root {
  --sarı: #f99003;
  --gri: #a3a5aa;
  --koyugri: #363738;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.bigcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border: 1px solid red; */
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: 100px 40px 40px 40px 40px 40px 1fr;
  gap: 5px;
  border: 5px solid black;
  border-radius: 25px;
  padding: 1rem;
  max-width: 230px;
  justify-content: center;
  background-color: black;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.content {
  border-radius: 50%;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.content:hover{
    opacity: .5;
}
.content1 {
  grid-area: 1/1/2/5;
  border: 1px solid black;
  background-color: #8d928e;
  border-radius: 20px;
}

.content2 {
  grid-area: 2/1/3/1;
  border: 1px solid black;
  background-color: var(--gri);
  color: black;
}
.content3 {
  grid-area: 2/2/3/2;
  border: 1px solid black;
  background-color: var(--gri);
  color: black;
}
.content4 {
  grid-area: 2/3/3/3;
  border: 1px solid black;
  background-color: var(--gri);
  color: black;
}
.content5 {
  grid-area: 2/4/3/4;
  border: 1px solid black;
  background-color: var(--sarı);
}
.content6 {
  grid-area: 3/1/3/1;
  border: 1px solid black;
  background-color: var(--koyugri);
}
.content7 {
  grid-area: 3/2/3/2;
  border: 1px solid black;
  background-color: var(--koyugri);
}
.content8 {
  grid-area: 3/3/3/3;
  border: 1px solid black;
  background-color: var(--koyugri);
}
.content9 {
  grid-area: 3/4/3/4;
  border: 1px solid black;
  background-color: var(--sarı);
}
.content10 {
  grid-area: 4/1/4/1;
  border: 1px solid black;
  background-color: var(--koyugri);
}
.content11 {
  grid-area: 4/2/4/2;
  border: 1px solid black;
  background-color: var(--koyugri);
}
.content12 {
  grid-area: 4/3/4/3;
  border: 1px solid black;
  background-color: var(--koyugri);
}
.content13 {
  grid-area: 4/4/4/4;
  border: 1px solid black;
  background-color: var(--sarı);
}
.content14 {
  grid-area: 5/1/5/1;
  border: 1px solid black;
  background-color: var(--koyugri);
}
.content15 {
  grid-area: 5/2/5/2;
  border: 1px solid black;
  background-color: var(--koyugri);
}
.content16 {
  grid-area: 5/3/5/3;
  border: 1px solid black;
  background-color: var(--koyugri);
}
.content17 {
  grid-area: 5/4/5/4;
  border: 1px solid black;
  background-color: var(--sarı);
}

.content18 {
  grid-area: 6/1/6/3;
  border: 1px solid black;
  border-radius: 25px;
  background-color: var(--koyugri);
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
}
.content19 {
  grid-area: 6/3/6/3;
  border: 1px solid black;
  background-color: var(--koyugri);
}
.content20 {
  grid-area: 6/4/6/4;
  border: 1px solid black;
  background-color: var(--koyugri);
}
